{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<style>
	.profile-pic{
		max-width: 300px;
		max-height:200px;
		margin: 0 auto;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'restaurantHome' %}"> &#8592; Back to Home</a>
			<hr>
			<h3 style="text-align: center">Restaurant Profile</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.customer.image.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
            <form method="POST" class="register-form" id="register-form">
                {% csrf_token %}
                {% for message in messages %}
                <p id = "messages">{{message}}</p>
                {% endfor %}
                <div class="form-group">
                    <label for="name"><i class="zmdi zmdi-account material-icons-name">Name: </i></label>
                    <div name="name">{{form.restaurant_name}}</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="email"><i class="zmdi zmdi-email"></i>City: </label>
                    <div name="name">{{form.city}}</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="pass"><i class="zmdi zmdi-lock"></i>District: </label>
                    <div name="name">{{form.district}}</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i>Phone: </label>
                    <div name="name">{{form.phone}}</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i>Category: </label>
                    <div name="name">{{form.category}}</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="pass"><i class="zmdi zmdi-lock"></i>Address: </label>
                    <div name="name">{{form.address}}</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="re-pass"><i class="zmdi zmdi-lock-outline">Rating: </i></label>
                    <div name="name">{{form.rating}}</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="re-pass"><i class="zmdi zmdi-lock-outline">Profile Picture: </i></label>
                    <div name="name">{{form.image}}</div>
                </div>
                <br>

                {{form.errors}}
                <br>
                <div class="form-group form-button">
                    <input type="submit" name="signup" id="signup" class="form-submit" value="Submit"/>
                </div>
            </form>
		</div>
	</div>
</div>



{% endblock %}